<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<form method="post" th:action="@{/signup}">
    <input name="memberId" placeholder="아이디를 입력해주세요" type="text">
    <input name="memberName" placeholder="이름을 입력해주세요" type="text">
    <input name="memberPassword" placeholder="비밀번호" type="password">
    <button type="submit">가입하기</button>
</form>
</body>
</html>